*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ccc;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:not(:last-child){
    margin-right: 25px;
}

.card{
    background: #fff;
     box-shadow: 0.1rem 0.2rem 0.8rem rgba(0, 0,0, 0.3);
     border-radius: 0.9rem;
}

.body{
    text-align: center;
}

.img  img{
    border-radius: 0.9rem 0.9rem 0 0;
     opacity: 0.8;

     transition: all 0.3s linear;
}

.img img:hover{
    opacity: 1;
}


.body h2{
    color: #d11;
    padding: 10px 0;
    font-size: 2rem;
}

.body h3{
    padding: 15px;
}

@media (max-width:900px) {
    .container{
        flex-direction: column;
    }

    .card{
        margin: 30px 0;
    }

}